h1{
                color: blueviolet;
                border: 10px solid #000;
                border-radius: 10px;
                font-size: 50px;
                font-family: arial;
                text-align: center;
}
